---
layout: page
title: UNT's Cyber Security Club
subtitle: Attempting to jam with the console cowboys in cyberspace
use-site-title: true
images:
  - image_path: /img/poster.png
    title: Come Join In us 
  - image_path: /img/IMG_20180215_181305.jpg
    title: Club Meeting with our friend ALLSTATE at Feb 15,2018
  - image_path: /img/Meeting_02_15_2018.jpg
    title: Club Meeting with our friend ALLSTATE Feb 15,2018
---

<style>
img {
  width: 100%;
  height: auto;
}
</style>


<h1>
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am anonymous.", "I am Creative.", "I Love Design.", "I Love to Develop.","I Love Ethic Hacking.","I am attempting to jam with the console cowboys in cyberspace."]'>
    <span class="wrap"></span>
  </a>
</h1>

<div class="photo-gallery">
  {% for image in page.images %}
  <li style="list-style-type:none">
    <center>
      <a href="{{image.link}}">
        <img src="{{ image.image_path }}" alt="{{ image.title }}">
      </a>
      {{image.title}}
    </center>
  </li>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
