---
layout: page
title: Events
subtitle: Come join us for some cyber security fun! 
use-site-title: false
---
<div>Normal club meetings are from 5:30 - 6:30 P.M. on Thursday at Discovery Park's Library in B185, first meeting will be at Sep 6, 2018</div>

<div>Programming Subgroup meetings are from 6:30 - 7:30 P.M. on Monday at Discovery Parks bottom floor computer lab (B129) study rooms near the back entrance, our senior developer Zach Langley will guide you to kick off your side projects! It is time to make some thing awesome and show off your skills to your futur employer! </div>
<div><a href="https://untcybersecurity.com/ProgrammingGroupMeeting/">Click here to check out our programming sub-group!</a></div>
<div><a href="https://calendar.google.com/calendar/embed?src=untccsi%40gmail.com&ctz=America/Chicago">Link to Google Calendar</a></div>
<center>
  <div><h1>Upcomming Events:</h1></div>
  {% for events in site.events %}
  <div class="events">
    <h2><a href="{{ events.url}}">{{ events.title}}</a></h2>
  </div>
  {% endfor %}
  <div><h1>Past Events:</h1></div>
  {% for events in site.pastevents reversed %}
  <div class="events">
    <h2><a href="{{ events.url}}">{{ events.title}}</a></h2>
  </div>
  {% endfor %}
</center>
